@tailwind base;
@tailwind components;
@tailwind utilities;


*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
  font-family: Rubik, sans-serif;
  line-height: 1;
}

@layer base {
  h1 {
    @apply text-6xl;
    @apply leading-11;
    @apply font-bold;
    @apply text-white;
  }
  h2 {
    @apply text-[40px];
    @apply leading-11;
    @apply font-bold;
    @apply text-white;
  }
  h3 {
    @apply text-2xl;
    @apply leading-11;
    @apply font-medium;
    @apply text-white;
  }
  h4 {
    @apply text-[22px];
    @apply leading-[1.364];
    @apply font-normal;
    @apply text-white;
  }
  h5 {
    @apply text-lg;
    @apply leading-[1.3633];
    @apply font-normal;
    @apply text-white;
  }
  h6 {
    @apply text-base;
    @apply font-normal;
    @apply text-white;
  }
  p {
    @apply text-[14px];
    @apply leading-11;
    @apply font-normal;
    @apply text-white;
    @apply tracking-[0.27px];
  }
  .primary-button {
    @apply bg-green-shamrock;
    @apply text-dark-blue;
    @apply text-[16px];
    @apply leading-11;
    @apply px-10;
    @apply py-5;
    @apply rounded-[10px];
    @apply font-medium;

    &:hover {
      @apply opacity-80;
      
    }
  }
  .secondary-button {
    @apply text-green-shamrock;
    @apply bg-peacot/90;
    @apply text-[16px];
    @apply leading-11;
    @apply px-10;
    @apply py-5;
    @apply rounded-[10px];
    @apply font-medium;

    &:hover {
      @apply opacity-80;
      
    }
  }
  .pricing-slider {
    height: auto;
    
    .el-slider__button,
    .el-slider__bar {
      background-color: #0BD88F;
    }

    .el-slider__runway,
    .el-slider__bar {
      height: 4px;
    }

    .el-slider__button {
      height: 14px;
      width: 14px;
      border: none;
    }

    .el-slider__runway {
      background-color:  #737B98;
    }

    .el-slider__button-wrapper {
      top: -16px;
    }
  }
}