@tailwind base;
@tailwind components;
@tailwind utilities;


*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
  font-family: Rubik, sans-serif;
  line-height: 1;
}

@layer base {
  h1 {
    @apply text-6xl;
    @apply leading-11;
    @apply font-bold;
    @apply text-white;
  }
  h2 {
    @apply text-[40px];
    @apply leading-11;
    @apply font-bold;
    @apply text-white;
  }
  h3 {
    @apply text-2xl;
    @apply leading-11;
    @apply font-medium;
    @apply text-white;
  }
  p {
    @apply text-[22px];
    @apply leading-[30px];
    @apply font-normal;
    @apply text-[#F3F5FF];
  }
  small {
    @apply text-[14px];
    @apply leading-11;
    @apply font-normal;
    @apply text-white;
    @apply tracking-[0.27px];
  }
  .button-green {
    @apply bg-green-shamrock;
    @apply text-dark-blue;
    @apply text-[16px];
    @apply leading-11;
    @apply px-10;
    @apply py-5;
    @apply rounded-[10px];
    @apply font-medium;

    &:hover {
      @apply opacity-80;
      
    }
  }
}